@{
    ViewBag.Title = "Victor Salazar";
}
<h2>@ViewBag.Title.</h2>

<address>
    8356 W Melinda Ln<br />
    Peoria, AZ 85392<br />
    <abbr title="Phone">Phone: </abbr>
    (623) 521 1065
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:vadrians@hotmail.com">vadrians@hotmail.com</a><br />
</address>